
<div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%= render "shared/mob_header_sidebar" %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%= render "shared/sidebar" %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%= render "shared/header" %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            
            <div class="main-content">
             <div class="section__content section__content--p30">
                <div class="container-fluid">
                <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                           <li class="breadcrumb-item" > <a href='<%= bucket_list_path %>'><i class="fas fa-home"> Home</i></a></li>
                                           <li class='breadcrumb-item' > <a href='<%= s3_configs_path %>'>S3 Config </a> </li>
                                           <li class='breadcrumb-item' aria-current='page'> New  </li>
                                        </ol>
                                    </nav>
                <%= render "form" %>
                <%= render "shared/footer" %>
            </div>
            </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
</div>
