<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @user_group.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_group.status %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
