
<div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%= render "shared/mob_header_sidebar" %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%= render "shared/sidebar" %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%= render "shared/header" %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
            <%
                            arrLists=[]
                            arrLists << "<li class='breadcrumb-item' > <a href='#{bucket_list_path}'><i class='fas fa-home'> Home</i> </a></li>";
                            if !params[:bucket].nil?
                                if !params[:key].nil?
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  <a href='#{get_bucket_info_path(params[:bucket])}'>#{params[:bucket]} </a></li>";
                                else
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  #{params[:bucket]} </li>";
                                end
                            end
                            if !params[:key].nil? &&  !params[:key].empty?
                                strKeys=params[:key].split('-lb-').first
                                label=params[:key].split('-lb-').last 
                                arrKeys=strKeys.split('/')
                                arrKeys.size
                                preKeys=''
                                i=1
                                arrKeys.each do | key |
                                preKeys="#{preKeys}#{key}/"

                                keyurl="#{get_bucket_info_path(params[:bucket])}?id=#{preKeys}-lb-#{i.to_i}"
                                if arrKeys.size!=i
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  <a href='#{keyurl}'>#{key} </a></li>";
                                else
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  #{key} </li>";
                                end
                                i=i+1
                                end

                                
                            end
                
                        %>
                        
             <div class="section__content section__content--p30">
             
                <div class="container-fluid">
                <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <% arrLists.each do |list|%>
                                                <%= sanitize list %>
                                            <%end%>
                                           
                                        </ol>
                                    </nav>
                <%= form_for :s3, url: post_add_file_path, method: :post do |f|%>
                    <div class="row">
                        <!--<div class="col-sm-12">
                            <div class="form-group">
                                <label>Folder</label>
                                
                                <%= f.text_field :folder ,class: 'form-control' ,placeholder: '' %>
                            </div>
                        </div>-->
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>File</label>
                                <input type="hidden" name="s3[bucket]" value="<%= @bucket %>" >
                                <input type="hidden" name="s3[id]" value="<%= @id %>" >
                                <input type="hidden" name="s3[key]" value="<%= @key%>" >
                                <%= f.file_field :doc ,class: 'form-control' ,placeholder: '' %>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="button"  onclick="window.history.back();" class="btn btn-secondary btn-sm">
                                    <i class="fa fa-arrow-left"></i> Back
                                </button>
                            </div>
                        </div>
                        
                    </div>
                <%end%>
            </div>
            </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
</div>
