
<div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%= render "shared/mob_header_sidebar" %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%= render "shared/sidebar" %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%= render "shared/header" %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <% if notice %>
                            <div class="col-sm-12">
                            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                                <%= notice %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            </div>
                        <% end %>
                        <% if  flash[:error] %>
                            <div class="col-sm-12">
                            <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                                <%= flash[:error] %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            </div>
                        <% end %>
                        <div class="table-data__tool">
                                
                                <div class="table-data__tool-right">
                                    <a href="<%= add_file_path %>?bucket=<%=@bucket_name %>&key=<%=@key %>">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>Add </button> 
                                        
                                    </a>
                                    
                                </div>
                        </div>
                        <div class="table-responsive m-b-40">

                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Size</th>
                                                <th>Last Modified</th>
                                                <th>Action</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @objFileFolder.each do | value| %>
                                                <tr>
                                                    <td><i class="fas fa-file"> </i>  <a href="<%=  get_bucket_info_path(params[:bucket])  %>?id=<%= value[:id] %>"><%= value[:name] %></a> </td>
                                                    <td><%= value[:type] %> </td>
                                                    <td><% if value[:size] %> <%= ((value[:size].to_f)/1024).round(1) %> kb <% end %></td>
                                                    <td><%= value[:date].strftime('%b %d, %Y,   %H:%M:%S') %></td>
                                                    <td>
                                                        <a href="<%= delete_obj_path(@bucket_name) %>?key=<%= value[:id] %>"  onclick="return confirm('Are you sure?')" >
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                                    <i class="zmdi zmdi-delete"></i>
                                                                </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% end %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                        

                        <%= render "shared/footer" %>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
