
<div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%= render "shared/mob_header_sidebar" %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%= render "shared/sidebar" %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%= render "shared/header" %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <% if notice %>
                            <div class="col-sm-12">
                            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                                <%= notice %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            </div>
                        <% end %>
                        <% if  flash[:error] %>
                            <div class="col-sm-12">
                            <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                                <%= flash[:error] %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            </div>
                        <% end %>
                        
                        <%
                            arrLists=[]
                            arrLists << "<li class='breadcrumb-item' > <a href='#{bucket_list_path}'><i class='fas fa-home'> Home</i> </a></li>";
                            if !params[:bucket].nil?
                                if !params[:id].nil?
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  <a href='#{get_bucket_info_path(params[:bucket])}'>#{params[:bucket]} </a></li>";
                                else
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  #{params[:bucket]} </li>";
                                end
                            end
                            if !params[:id].nil? &&  !params[:id].empty?
                                strKeys=params[:id].split('-lb-').first
                                label=params[:id].split('-lb-').last 
                                arrKeys=strKeys.split('/')
                                arrKeys.size
                                preKeys=''
                                i=1
                                arrKeys.each do | key |
                                preKeys="#{preKeys}#{key}/"

                                keyurl="#{get_bucket_info_path(params[:bucket])}?id=#{preKeys}-lb-#{i.to_i}"
                                if arrKeys.size!=i
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  <a href='#{keyurl}'>#{key} </a></li>";
                                else
                                    arrLists << "<li class='breadcrumb-item' aria-current='page'>  #{key} </li>";
                                end
                                i=i+1
                                end

                                
                            end
                
                        %>
                        <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <% arrLists.each do |list|%>
                                                <%= sanitize list %>
                                            <%end%>
                                           
                                        </ol>
                                    </nav>
                        <div class="table-data__tool">
                                
                                <div class="table-data__tool-right">
                                    <a href="<%= add_file_path %>?bucket=<%=@bucket_name %>&key=<%=@key %>">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>Add File </button> 
                                        
                                    </a>
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small"  data-toggle="modal" data-target="#createFolder">
                                        <i class="zmdi zmdi-plus"></i>Add Folder </button> 
                                </div>

                                
                        </div>
                        <div class="table-responsive m-b-40">
                                    
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Size</th>
                                                <th>Last Modified</th>
                                                <th>Action</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @objFileFolder.each do | value| %>
                                                <tr>
                                                    <td><i class="fas fa-file"> </i>  <a href="<%=  get_bucket_info_path(params[:bucket])  %>?id=<%= value[:id] %>"><%= value[:name] %></a> </td>
                                                    <td><%= value[:type] %> </td>
                                                    <td><% if value[:size] %> <%= ((value[:size].to_f)/1024).round(1) %> kb <% end %></td>
                                                    <td><%= value[:date].strftime('%b %d, %Y,   %H:%M:%S') %></td>
                                                    <td>
                                                        <a href="<%= delete_obj_path(@bucket_name) %>?key=<%= value[:id] %>"  onclick="return confirm('Are you sure?')" >
                                                                <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                                    <i class="zmdi zmdi-delete"></i>
                                                                </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% end %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                        

                        <%= render "shared/footer" %>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>


            
    </div>


    <div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
             <%= form_for :s3, url: post_add_file_path, method: :post do |f|%>
                <div class="modal-body">
                    
                    <input type="hidden" name="s3[bucket]" value="<%= @bucket_name %>" >
                                    <input type="hidden" name="s3[id]" value="<%= @key %>" >
                                    <input type="hidden" name="s3[key]" value="<%= @folder_key%>" >
                                    <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Folder</label>
                                    
                                    <%= f.text_field :folder ,class: 'form-control' ,placeholder: '' %>
                                </div>
                            </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            <%end%>
            </div>
        </div>
    </div>
