


<!--footer-->
<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright ©  <a href="https://resourcestack.com">Resource Stack, Inc 2021</a>.</p>
        </div>
    </div>
</div>
<!--end footer-->

<!-- jQuery -->
<script src="<%= root_url %>assets/jquery-3.2.1.min.js"></script>
<!-- popper  -->
<script src="<%= root_url %>assets/popper.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= root_url %>assets/bootstrap.min.js"></script>
<!-- wow-->
<script src="<%= root_url %>assets/wow.min.js"></script>
<!-- main -->
<script src="<%= root_url %>assets/main.js"></script>

<!-- Select box js -->
<script src="<%= root_url %>assets/select2.min.js"></script>

<!-- Data table -->
<script src="<%= root_url %>assets/jquery.dataTables.min.js"></script>
<script src="<%= root_url %>assets/dataTables.bootstrap4.min.js"></script>
<script src="<%= root_url %>assets/dataTables.responsive.min.js"></script>

<script> 
    $('#s3_users_').select2({
    //closeOnSelect: false
    });
</script>