<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="<%= root_path %>">
          <%= image_tag "logo.png", title: "S3 file manager" %>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <!--<li class="active ">
                    <a class="js-arrow" href="<%= root_path %>">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                    
                </li>-->
                <li class="">
                    <a href="<%= bucket_list_path %>">
                        <i class="fas fa-shopping-basket"> Amazon S3</i>
                    </a>
                </li>
                <% if (current_user.is_admin==true || current_user.user_group_id==2)%>
                <li class="">
                    <a href="<%= users_path %>">
                        <i class="fas fa-user"> Users</i>
                    </a>
                </li>
                <% end %>
                <% if (current_user.is_admin==true)%>
                <li class="">
                    <a href="<%= user_groups_path %>">
                        <i class="fas fa-users"> User Groups</i>
                    </a>
                </li>
                <% end %>
                
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->