<!DOCTYPE html>
<html>
  <head>
    <title>S3 File Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
    <!-- Fontfaces CSS-->
    
    <link href="<%= root_url %>assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="<%= root_url %>assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="<%= root_url %>assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="<%= root_url %>assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

     <!-- Bootstrap CSS-->
    <link href="<%= root_url %>assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    
    <!-- Hamburgers CSS--> 
    <link href="<%= root_url %>assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    
   <!-- Datatable css-->
    <link href="<%= root_url %>assets/dataTables.bootstrap4.min.css" rel="stylesheet" media="all">
    <link href="<%= root_url %>assets/responsive.bootstrap4.min.css" rel="stylesheet" media="all">
    <link href="<%= root_url %>assets/buttons.bootstrap4.min.css" rel="stylesheet" media="all">

    <!-- Select box css-->
    <link href="<%= root_url %>assets/css/select2.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="<%= root_url %>assets/css/theme.css" rel="stylesheet" media="all">
    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <style>
   .fade{opacity:1}
   </style>
  </head>

  <body class="animsition" >
    
    <%= yield %>
    
  </body>
</html>
